//secondary colors
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;
$secondary-purple: #8a5cae;
$secondary-border-color: #122241;

//primary colors
$primary-graphite: #293854;
$primary-light-green: #ecf6ea;
$primary-pink: #e369bb;
$primary-hover-pink: #b55495;

//supporting colors
$green: #158463;
$opaque-green: #15846312;
$red: #C94515;
$opaque-red: #C9451512;
$light-blue: #c7dbde;
$hover-blue: #8b999b