@use "./typography" as *;
@use "./color" as *;
@use "./mixin" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary, "Open-sans";
  color: $primary-graphite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  // @include flex(space-between, center);
  // flex-direction: column;
}
h1{
  @include font(1.5rem, 2rem, 700);
  @include tablet{
    @include font(2.25rem, 2.75rem, 700);
  } 
}

h2{
  @include font(1.25rem, 2.5rem, 700);
  @include tablet{
    @include font(1.5rem, 2.75rem, 700);
  }
}

h3{
  @include font(1rem, 1.5rem, 700);
  @include tablet{
    @include font(1.25rem, 2rem, 700);
  }
}
h4{
  @include font(0.75rem, 1.25rem, 700);

  @include tablet{
    @include font(0.875rem, 1.375rem, 700);
  }
}
p{
  @include font(0.75rem, 1.25rem, 400);
  margin: 0.25rem;
  @include tablet{
    @include font(0.875rem, 1.375rem, 400);
  }
}
small{
  @include font(0.75rem, 1.25rem, 400);
  @include tablet{
    @include font(0.875rem, 1.375rem, 400);
  }
}
input {
  height: 1.5rem;
  margin: 0;
  padding: 0 1rem;
  border: 1px solid $secondary-slate;
  border-radius: 6px;
  padding : 0.25rem;
  @include flex(flex-start, center);
  gap: 1rem;
}
select {
  height: 1.5rem;
}