@use "./color" as *;
@mixin tablet {
  @media screen and (min-width: 768px) {
      @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
      @content;
  }
}

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin global-padding {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }
  @include desktop{
    padding:0 calc((100% - 64.5rem) * 0.5);
  }
}

@mixin section-padding {
  padding-bottom: 1rem;
  padding-top: 1rem;
  @include tablet {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
 
}

@mixin button-styling{
  width: 10rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap:0;
  background-color: $light-pink;
  border-radius: 0.25rem;
  border: 1px solid $light-pink;

}