@use "../../styles/partials/color" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography" as *;


.info-card{
  @include flex(center, center);
  flex-direction: column;
  width: 15rem;
  height: 25rem;
  border: 1px solid $secondary-border-color;
  border-radius: 1rem;
  box-shadow: 5px 15px 10px $secondary-cloud;

  padding: 1rem;
  @include tablet{
    width: 15rem;
    height: 30rem;
  }
  &__info{
    margin: 0;
  }
  &__img{
    width: 100%;
    height: 10rem;
   
  }
}
