@use "../../styles/partials/color" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography" as *;

.footer {
  @include flex(center, center);
  @include section-padding;
  background-color: $primary-graphite;
  box-sizing: border-box;
  margin: 0;

  &__copyright {
    color: $secondary-cloud;
  }
}
