@use "./styles//partials/global";
@use "./styles//partials/typography" as *;
@use "./styles//partials/color" as *;

.footer{
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  width: 100%;
  z-index: 5;
}
.content-wrapper{
margin-bottom: 6rem;
}
